{% extends 'homePage.html' %}
{% block content %}
<!-- Navbar -->

<nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="true">
    <div class="container-fluid py-1 px-3">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
          <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
          <li class="breadcrumb-item text-sm text-dark active" aria-current="page">{{data}}</li>
        </ol>
        <h6 class="font-weight-bolder mb-0">{{data}} Form</h6>
      </nav>
      <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-0" id="navbar">
        <ul class="navbar-nav  ms-md-auto pe-md-3 d-flex align-items-center">
          <li class="nav-item d-flex align-items-center">
            <a href="{% url 'logout' %}" class="nav-link text-body font-weight-bold d-flex border rounded ">
              <span class="material-icons">
                directions_run
              </span>
              <span class="d-sm-inline d-none">LOGOUT</span>
            </a>
          </li>
          <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
              <div class="sidenav-toggler-inner">
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
                <i class="sidenav-toggler-line"></i>
              </div>
            </a>
          </li>
          <li class="nav-item px-3 d-flex align-items-center">
            <a href="javascript:;" class="nav-link text-body p-0">
              <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="container-fluid py-4">
  <div class="admin-add-main ">
    <form class='admin-add-user shadow-sm px-5 pt-4' method="POST">
        {% csrf_token %}
        {% for field in form %}
          <p class="m-1">
            {{ field.label_tag }}<br>
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        
        <input style="width:15rem" class="btn bg-gradient-primary mt-4" type="submit" value="submit">
    </form>
    {% if messages %}
    <div class="add-msg bg-success text-white alert shadow">
            
            <ul class="messages">
                {% for message in messages %}
                <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
                {% endfor %}
            </ul>
            <p id="close"><span class="material-icons">
              close
              </span></p>
        
            
    </div>
    {% endif %}
  </div>
<style>
    .admin-add-main{
        position: relative;
        display:flex;
        justify-content:center;
    }
    .add-msg{
        position:absolute;
        top:0;
        width:40rem;
        height:5rem;
        display:flex;
        justify-content:space-between;
        align-items:center;
        border-radius:.5rem;
    }
    .add-msg p{
        padding:0rem 2rem 0 0;
        font-size:2rem;
        cursor: pointer;

    }
    .add-msg ul{
        padding:0 0 0 1rem;
        font-size:1rem;
        list-style: none;
    }
    .admin-add-user{
        display:flex;
        flex-direction:column;
        align-items:center;
    }
    .admin-add-user input{

        width: 25rem;
    }

</style>
<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
<script type="text/javascript">
    $('#close').on('click', function(e) { 
        $(this).parent('.alert').remove(); 
     });
</script>
{% endblock content %}